* {
    box-sizing: border-box;
  }
  h1 {
    color: black;
    
  }
  
  p {
    
    font-size: 20px;
  }
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: cornflowerblue;
  }
  
  .reset-button {
    font-size: 16px;
    height: 30px;
    line-height: 8px;
    margin-top: 20px;
  }
  
  .win-loss-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  .questions {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 20px;
    margin: auto;
  }
  #question {
    text-align: left;
    font-size: 3.0rem;
    font-weight: bold;
  }

  /*Button Styling */
.btn {
  background: purple;
  font-size: large;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

.btn:hover {
  background: grey;
  border-radius: 10px;
  box-shadow: 0 2px grey;
  cursor: pointer;
}

.btn:active {
  border: none;
  outline: none;
  box-shadow: 0 0 grey;
}

.btn:focus {
  outline: gray;
}

.btn-grid {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-gap: 5px;
  margin: 20px 0;
  background-color: #000000;
}

.answerbtn {
  width: 50%;
  text-align: left;
  font-size: 25px;
}
   button {
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,96,33,0.9542191876750701) 100%);
    border-radius: 8px;
    color: #13293d;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255x;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
    align-items: center;
    display: flex;
  }
   
  header {
    padding: 40px;
    text-align: center;
    background: #3580c6;
    color: #000000;
    
    border-bottom:30px #879274;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    background-color: white;
    border-radius: 8px;
  }
  .container {
    padding: 30px;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
  .guess {
    width: 55vw;
    height: 400px;
  }
  
  .results {
    width: 30vw;
    height: 400px;
  }
  
  .card {
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,124,33,0.604079131652661) 100%);
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: auto;
    padding: 20px;
  }
  
  .card-guess {
    line-height: 360px;
}
  
  .large-font {
    font-size: 3.5em;
    text-align:center;
  }
  
  .timer {
    height: 240px;
    padding: 10px;
    background: #13293d;
    color: #fff;
    text-align: center;
  }
  
  .timer-text {
    padding: 55px;
  }
 
  .show {
    display: flex;
}

.hide {
    display: none;
}
  
  @media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  
    .card-guess,
    .results {
      width: 90vw;
    }
  
    section {
      background-color: white;
      margin: 20px auto;
      width: 92vw;
    }
  }
  
  @media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
  
    .reset-button {
      font-size: 12px;
      width: 20ox;
      
    }
  
    .timer {
      height: 200px;
    }
}
